.button {
  font-size: 14px;
}

.disabled {
  font-size: 20px;
}

.secondary {
}

.default {
}

.red {
  border: 2px solid red;
  font-size: 20px;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}

.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
